<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ heading }}</h1>
    <p>{{ body }}</p>


    <h2>Events for the Month</h2>
    <div id="events">
        {% for event in events %}
            <div class="event">
                <h3>{{ event.title }}</h3>
                <p>Date: {{ event.date }}</p>
                <p>Tags: {{ event.tags | join(', ') }}</p>
                <p><a href="{{ event.link }}">More info</a></p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
